.navbar{
    background-color: black;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    gap: 20px;
    padding: 15px 30px;
    border-radius: 40px;
    justify-content: space-between;
}

.tt{
    background-color: yellow;
    color: #000;
    border-radius: 50px;
    padding: 15px;
}

.mar{
    margin-left: 70px;
    margin-right: 70px;
}

.heading{
    background-color: yellow;
    padding: 50px;
    width: 200px;
    height: 300px;
    justify-content: center;
}

.box{
    background-color: yellow;
    width: 200px;
    padding: 25px;
    height: 100px;

}

div{
    text-align: center;
    margin: 20px;
    display: flex;
    
}